$color_dark: #000000;
$color_white: #ffffff;
$color_border: #00aad4;

$font_AdventPro-ExtraLight: "AdventPro-ExtraLight";
$font_AdventPro-SemiBold: "AdventPro-SemiBold";
$font_Poppins-Light: "Poppins-Light";
$font_Poppins-Medium: "Poppins-Medium";
$font_Poppins-Thin: "Poppins-Thin";

@font-face {
   font-family: "AdventPro-ExtraLight";
   src: url("/fonts/AdventPro-ExtraLight.ttf") format("truetype");
}

@font-face {
   font-family: "AdventPro-SemiBold";
   src: url("/fonts/AdventPro-SemiBold.ttf") format("truetype");
}

@font-face {
   font-family: "Poppins-Light";
   src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
   font-family: "Poppins-Medium";
   src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
   font-family: "Poppins-Thin";
   src: url("/fonts/Poppins-Thin.ttf") format("truetype");
}
